# Terraform state
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfvars
**/terraform.tfstate*

# Python cache
**/__pycache__

# Python environments
venv
.env
.python-version

# Test and coverage artifacts
.coverage
**/.coverage
coverage.xml
coverage.json
coverage.md
**/coverage.xml
**/coverage.json
**/coverage.md
.pytest_cache/
**/.pytest_cache/

# Test images
agd/*.png
agd/*.jpg

# Vim swap files
[._]*.s[a-v][a-z]
.vscode/settings.json
coverage.lcov
restore.py
